[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=c_canvas_rotation
X-Python-2-Compatible=false
Name=Custom Canvas Rotation
Comment=Custom Canvas Rotation