[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita-plugin-radial-menu
X-Python-2-Compatible=false
Name=Radial Menu
Comment=Radial Menu Plugin