[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita-plugin-pie-menu
X-Python-2-Compatible=false
Name=Pie Menu
Comment=Pie Menu Plugin